* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  color: #ddd;
}

.navigation-bar {
  background-color: #191d28;
}

.navbar > .container-fluid {
  justify-content: end;
}

.navbar-brand {
  font-size: 25px;
  color: #ffcc73;
  font-weight: 800;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: center !important;
}

a.nav-link {
  color: #ddd;
  margin: 0 14px;
}

.myPhotoWrapper {
  background-image: linear-gradient(#191d2831, #191d2848),
    url("./img/myPhoto.png"), url("./img/pattern.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 105vh;
}

#home {
  background-color: #191d28;
}

.bannerCol {
  background-color: #191d28;
}

.bannerWrapper {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 70px;
}

#bannerTitle {
  font-size: 60px;
}

.bannerText {
  width: 100%;
}

#firstName {
  color: #ffcc73;
}

#downloadCV {
  width: 150px;
  height: 40px;
  border: none;
  background-color: #ffcc73;
  font-weight: 700;
}

#downloadCV:hover {
  background-color: #d19e45;
}

.socialLinks {
  width: 30%;
}

.socialLinks ul {
  display: flex;
  justify-content: space-between;
  /* padding: 0; */
}

.socialLinks ul li {
  list-style: none;
}

#socialIcon {
  width: 20px;
}
/* ----------------- About ------------------------------ */

.aboutImage {
  position: relative;
  background-image:  url("./img/aboutMe.png");
  background-size: cover;
  background-position: top;
  width: 69%;
  height: 400px;
}

.aboutImage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("./img/aboutPattern.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  mix-blend-mode: lighten;
}

.aboutWrapper {
  width: 100%;
  height: 338px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* =================== Expertis ====================================== */

/* style="background-color: #191d28; padding: 50px;" */

#experticeSection{
background-color: #191d28;
padding: 50px;
}

.expertiseIntro{
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 40px;
  text-align: center;
}

.expertCard{
  text-align: center;
  width: 100%;
  padding: 30px;
  box-shadow: 0px 1px 3px 1px #101218;
}

.expertTitle{
  font-size: 18px;
  font-weight: 800;
  margin: 15px 0;
}

@media screen and (max-width: 768px) {
  .bannerWrapper {
    padding: 0 10px;
    height: unset;
    justify-content: start;
  }

  #bannerTitle {
    font-size: 39px;
  }

  .socialLinks {
    width: 50%;
    margin: 30px 0;
  }

  .myPhotoWrapper {
    height: 55vh;
  }

  .aboutRow {
    flex-direction: column-reverse;
  }

  .aboutWrapper {
    height: unset;
    margin: 20px 0;
  }

  .aboutImage {
    width: 100%;
  }
}
